@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

.container
{
    display: flex;
    margin: 0 10%;
}

.first_container h1, h3, p
{
    color: #ffe7d4;
}

.first_container
{
    background-color: #494e5f;
    width: 34%;
    height: 2000px;
}

.profile_picture
{
    margin-left: 170px;
    padding-top: 50px;
}

.profile_picture img
{
    width: 48%;
}

.second_container
{
    background-color: red;
    width: 66%;
    height: 2000px;
}