@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&display=swap');

.container
{
    display: flex;
    margin: 0 10%;
}

.first_container h1, h3, p
{
    color: #ffe7d4;
}

/*left part*/
.first_container
{
    background-color: #494e5f;
    width: 34%;
    height: 2000px;
}

.first_container h1
{
    font-family: Montserrat, sans-serif;
    font-size: 28px;
    margin: 0;
}

.first_container h3
{
    font-family: Montserrat, sans-serif;
    font-size: 22px;
}

.first_container p
{
    font-family: Arimo, sans-serif;
    font-size: 16px;
}

.profile_picture
{
    margin-left: 140px;
    padding-top: 50px;
}

.profile_picture img
{
    width: 60%;
}

.profile
{
    margin-top: 50px;
    margin-left: 40px;
    border-bottom: solid 2px;
}

.contact
{
    margin-top: 30px;
    margin-left: 40px;
}

.skill
{
    margin-top: 30px;
    margin-left: 40px;
}

.software
{
    margin-top: 30px;
    margin-left: 40px;
}
/*left part*/

/*right part*/
.second_container
{
    background-color: red;
    width: 66%;
    height: 2000px;
}